.card {
    
    border: 5px solid var(--color1);
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: var(--color5);
}

.card_title {
    padding: 20px;
    color: var(--color1);
    font-size: 1.4rem;
}

.card_answer_block {
    padding: 20px;
}

.card_answer {
    padding: 20px;
    font-size: 1.4rem;
    font-weight:300;
    white-space: pre-line;
}

.checkmark {
    position:relative;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }