:root {
  --color1: #050C9C;
  --color2: #3572EF;
  --color3: #3ABEF9;
  --color4: #A7E6FF;
  --color5: #eee;
}

* {
  margin: 0;
}
  
body {
  background-color: var(--color3);
}
.main {
  max-width: 1200px;
  margin: auto;
}